.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.item img {
    width: 200px;    
}