<app-toggle>
  <h1 toggle-title>Hello World</h1>
  <h3 toggle-title>How are you, world</h3>
  <ul>
    <li>option 1</li>
    <li>option 2</li>
  </ul>
</app-toggle>

<hr>

<app-toggle>
  <h3 toggle-title>Smaller title</h3>
  <img src="https://i.pinimg.com/originals/e5/aa/97/e5aa977fe2b95c999a4987ad0fe82c32.jpg">
</app-toggle>

<hr>

<app-toggle>
  <h1 toggle-title>Main Toggle title</h1>
  <app-toggle>
    <h2 toggle-title>Sub toggle title</h2>
    <p>bla bla bla bla bla</p>
  </app-toggle>
</app-toggle>